<% content_for :header do %>
  <%= render :partial => "shared/header_menu" %>
<%end%>

<% content_for :right_sidebar do %>
  <%= render :partial => "shared/right_sidebar" %>
<%end%>

<% content_for :meta_header do %>
  <title>Rehabilitacja Białystok - Rehactive o mnie</title>
<%end%>

<% content_for :head do %>
  <meta name="description" content="Rehactive - informacje o mnie"/>
<% end %>

<div class="post">
	<div class="post-bgtop">
		<div class="post-bgbtm">
			<h2 class="title">mgr Joanna Bieniek-Sobolewska</h2><br/>
			<div class="entry about">
			  <%= image_tag("https://s3.amazonaws.com/rehactive/gabinet/IMG_1119_small.JPG")%>
				<p>Jestem absolwentką Uniwersytetu Medycznego w Łodzi. Moja przygoda z fizjoterapią zaczęła się jeszcze przed studiami. Miałam możliwość przyglądania się pracy innych specjalistów w tej dziedzinie. Już wtedy stwierdziłam, że Fizjoterapia jest tym, co chcę robić w przyszłości.</p>
				<p>Jest to cudowny zawód dający niesamowitą satysfakcję. Czy jest coś piękniejszczego niż zadowolony pacjent, który odzyskał sprawność, pozbył się dolegliwości bólowych i wrócił do pełnej sprawności, normalnego życia?</p>
				<p>Dzięki specjalistycznym kursom mam możliwość pracy nowoczesnymi metodami fizjoterapeutycznymi, takimi jak: metoda McKenziego, Terapia Manualna wg Mulligan Concept, Kinesiology Taping, Taping Sportowy, Terapia tkanek miękkich wg E. Wilsona i masaż.</p>
				<p>Dodatkowo swoją wiedzę zgłębiałam na szkoleniach specjalistycznych z zakresu rehabilitacji stawu barkowego i kolanowego.</p>
				<p>Specjalizuję się w rehabilitacji:</p>
				<ul>
				  <li>neurologicznej w zakresie bólów kręgosłupa (dyskopatia, rwa kulszowa, rwa ramienna, korzonki, mrowienie, drętwienie kończyn, ból promieniujący do kończyn, podbrzusza, pachwin, bóle i zawroty głowy)</li>
				  <li>ortopedycznej (staw kolanowy, barkowy, biodrowy, łokieć tenisisty i golfisty, po urazach sportowych, np. skręceniach stawu, cieśń nadgarstka, ostrogi piętowe, nieoperacyjne leczenie halluxów)</li>
				  <li>po zabiegach operacyjnych, np. artroskopii</li>
				  <li>korekcji wad postawy (terapia indywidualna oraz gimnastyka korekcyjna w przedszkolach)</li>
				  <li>masażu – obrzęki limfatyczne</li>
				</ul>
			</div>
		</div>
	</div>
</div>
