<% content_for :header do %>
  <%= render :partial => "shared/header_menu" %>
<%end%>

<% content_for :right_sidebar do %>
  <%= render :partial => "shared/right_sidebar" %>
<%end%>


<% content_for :head do %>
  <meta name="description" content="Rehactive - oferta firmy"/>
<% end %>

<div class="post">
	<div class="post-bgtop">
		<div class="post-bgbtm">
			<h2 class="title">Metoda McKenzie</h2><br/>
			<div class="entry">
				<p>Jest to współcześnie najlepiej udokumentowana metoda oparta na dowodach naukowych. Jest to metoda  biomechanicznego badania i leczenia zaburzeń mechanikimc kręgosłupa, oraz zespołów bólowych, schorzeń stawów obwodowych i kończyn, spowodowanych zaburzeniem mechaniki. System McKenziego jest metodą fizjoterapeutyczną. Jednym z najczęstszych wskazań do stosowania metody McKenziego jest dyskopatia. Metoda sprawdza się także w innych zaburzeniach mechaniki - zespół dysfunkcyjny i posturalny wg McKenziego.</p>
        <p class="hidden">Metoda zawiera część diagnostyczną i terapeutyczną. Po ustąpieniu objawów - koncentruje się na profilaktyce. Wartość diagnostyczna metody McKenziego została w pełni potwierdzona, licznymi badaniami naukowymi. Ze względu na wysoką skuteczność i powtarzalność wyników części diagnostycznej metody McKenziego, jej stosowanie jako pierwszej, wydaje się być celowe dla określenia przyczyn dolegliwości. Metoda Mckenziego sprawdza się w sytuacjach, w których inne metody fizjoterapeutyczne nie mają zbyt wiele do zaoferowania - np.: skolioza reflektoryczna, kręcz karku (mogą wystąpić w przebiegu dyskopatii). Istotą metody jest to, że pozwala ona wielu pacjentom, samodzielnie, po odpowiednim wyedukowaniu, radzić sobie z bólem.</p>
			</div>
			<div class="meta">
				<p><a href="#" class="more">Więcej</a></p>
			</div>
		</div>
	</div>
</div>

<div class="post">
	<div class="post-bgtop">
		<div class="post-bgbtm">
			<h2 class="title">Terapia manualna wg Mulligan Concept</h2><br/>
			<div class="entry">
				<p>Jest specjalistyczną metodą diagnostyczno – terapeutyczną, której celem jest podniesienie efektywności zabiegu, ograniczenie mulliglub zniesieniedolegliwości bólowych, uzyskanie utraconego zakresu ruchu. Na metodę składa się bardzo duża ilość różnorodnych technik, m.in. mobilizacje kręgosłupa szyjnego, piersiowego i lędźwiowego, stawów krzyżowo-biodrowych i klatki piersiowej (mobilizacje - sposoby uruchamiania stawów, w celu ich prawidłowego działania), manipulacje (działania zmierzające do przywrócenia właściwego ustawienia względem siebie przesuniętych powierzchni stawowych. Nieprawidłowe ustawienie wywołuje ból i zmiesza zakres ruchomości w stawach), trakcje - działanie, które w wyniku przyłożonej siły zewnętrznej (np. ręce terapeuty), prowadzi do oddalenia od siebie powierzchni stawowych, tworzących staw.</p>
			</div>
		</div>
	</div>
</div>

<div class="post">
	<div class="post-bgtop">
		<div class="post-bgbtm">
			<h2 class="title">PNF - Proprioceptive Neuromuscular Facilitation.</h2><br/>
			<div class="entry">
				<p><strong>Proprioceptywne nerwowo-mięśniowe torowanie ruchu</strong> jest metodą fizjoterapeutyczną, której celem jest przywracanie utraconej funkcji. </p>
				<p>Celem metody PNF jest ponowna nauka (tzw. reedukacja) lub odtworzenie konkretnej funkcji ruchowej, utraconej w wyniku choroby. Jest to kompleksowa terapia, oparta o najnowszą wiedzę i osiągnięcia
z dziedziny neurofizjologii.</p>
        <ul class="offert-ul hidden">
          <li>
            Metoda PNF znajduje zastosowanie w bardzo wielu jednostkach chorobowych, głównie z dziedziny neurologii i ortopedii. Leczenie ukierunkowane jest na odzyskanie utraconej w wyniku procesu chorobowego funkcji ruchowej
          </li><br/>
          <li>
            Program rehabilitacji, ustalany jest na podstawie badania i dobrany jest indywidualnie do aktualnych możliwości pacjenta. Fizjoterapeuta posiada bogaty wachlarz technik, umożliwiający mu dobranie możliwie efektywnej formy ćwiczeń
          </li><br/>
          <li>
            Metoda PNF, to przede wszystkim filozofia, czyli pewien ogół zasad pracy z pacjentem, który umożliwia efektywne osiągnięcie celu - powrotu do zdrowia
          </li>
        </ul>
			</div>
			<div class="meta">
				<p><a href="#" class="more">Więcej</a></p>
			</div>
		</div>
	</div>
</div>

<div class="post">
	<div class="post-bgtop">
		<div class="post-bgbtm">
			<h2 class="title">Kinesiology Taping</h2><br/>
			<div class="entry">
				<p>Metoda uaktywniająca proces zdrowienia organizmu przy użyciu specjalnych elastycznych plastrów. Poprzez swe oddziaływanie mechaniczne unoszą nieco skórę, tworząc pod nią więcej przestrzeni, co usprawnia przepływ krwi żylnej i limfy oraz zmniejsza kompresje na receptory bólowe. Dzięki specjalnym właściwościom w zależności od aplikacji wspomagają lub rozluźniają mięśnie. Celem tapingu jest osiągniecie możliwie największego zakresu ruchów w stawach poprzez oddziaływanie na mięśnie, powięzie, stawy, układ limfatyczny i nerwowy</p>
				<div class="hidden">
				  <p><strong>Kinesiology Taping</strong> stosuje się w wielu przypadkach:</p>
          <ul class="offert-ul">
            <li>urazy więzadłowe</li><br/>
            <li>redukcja zapalenia czy gromadzącego się w stawie płynu (wysięki, krwiaki)</li><br/>
            <li>korygowanie postawy ciała</li><br/>
            <li>bóle kregosłupa</li><br/>
            <li>objawy przeciążeń (łokieć tenisisty, kolano skoczka) </li><br/>
            <li>obrzęki limfatyczne</li><br/>
            <li>i wiele innych.</li>
          </ul>
		    </div>
		  </div>
			<div class="meta">
				<p><a href="#" class="more">Więcej</a></p>
			</div>
		</div>
	</div>
</div>

<div class="post">
	<div class="post-bgtop">
		<div class="post-bgbtm">
			<h2 class="title">Terapia Tkanek Miękkich wg E. Wilsona</h2><br/>
			<div class="entry">
				<p>Jest metodą łącząca diagnozę i terapię tkanek miękkich (mięśni, powięzi, więzadeł, ścięgien). Stosowana jest ona w dysfunkcjach i urazach tkanek miękkich.</p>
        <div class="hidden">
				  <p>Do metod leczniczych z tego zakresu zaliczamy:</p>
          <ul class="offert-ul">
            <li>
              techniki energizacji mięśni - to metody wykorzystujące napięcie mięśni pacjenta w celu likwidacji zaburzeń w obrębie tkanek miękkich. Stosowane są one przy podwyższonym napięciu mięśniowym, w przypadku przykurczy pochodzenia mięśniowego oraz łącznotkankowego, wzmożonego napięcia mięśniowego (spastyka), obrzękach miejscowych, zastojach żylnych, ograniczeniu ruchomości stawów wynikających z dysfunkcji tkanek miękkich
            </li><br/>
            <li>
              mięśniowo - powięziowe rozluźnianie - polega na likwidowaniu ograniczeń przesuwalności powięzi względem siebie, powodując natychmiastowe rozluźnienie
            </li><br/>
            <li>
              techniki aktywnego rozluźniania - to techniki koncentrujące swoją uwagę na likwidowaniu nieprawidłowości w obrębie tkanki miękkiej takich jak: zrosty, sklejenia, nadmierne napięcie mięśniowe, przykurcze mięśniowe i łącznotkankowe
            </li><br/>
            <li>
              analiza funkcjonalna pacjenta - badanie dotyczy oceny równowagi mięśniowej poprzez analizę postawy ciała, identyfikacje asymetrii, napięcia mięsni oraz diagnozy zaburzonych stawów
            </li><br/>
            <li>
              terapia punktów spustowych - są to określone punkty na ciele leżące  w obrębie nadmiernie napiętych tkanek.  W miejscu aktywnego punktu spustowego wyczuwamy zgrubienia, które mogą na skutek ucisku dać ból/ukłucie. Przyczynami ich powstania mogą być m.in. urazy, niewydolność mięśniowa, zaburzenia pooperacyjne, stres i napięcie mięśniowe
            </li>
          </ul>
		    </div>
		  </div>
			<div class="meta">
				<p><a href="#" class="more">Więcej</a></p>
			</div>
		</div>
	</div>
</div>

<div class="post">
	<div class="post-bgtop">
		<div class="post-bgbtm">
			<h2 class="title">Masaż</h2><br/>
			<div class="entry">
				<p>Masaż polega na sprężystym odkształcaniu tkanek. Dzięki niemu nabierają one sprężystości i poprawia się krążenie krwi w organizmie. W gabinecie oferowane będą następujące formy masażu:</p>
				<div class="hidden">
          <ul class="offert-ul">
            <li>
              leczniczy - do tego rodzaju zabiegów zalicza się masaż: klasyczny, segmentarny, limfatyczny, łącznotkankowy, okostnowy, punktowy (akupresura), stref refleksyjnych stóp i rąk oraz małżowiny usznej. Masaż leczniczy polega na rozluźnianiu mięśni oraz łagodzeniu napięcia psychicznego, co przynosi ulgę i uczucie odprężenia. Ten rodzaj masażu zwiększa dopływ krwi do masowanego miejsca, co przyspiesza proces leczenia
            </li><br/>
            <li>
              klasyczny – jest to zespół różnych zabiegów manualnych, które w sposób mechaniczny oddziaływają na: skórę, tkankę podskórną, mięśnie, torebki stawowe i więzadła, a także w postaci zmian odruchowych na układ krążenia, nerwowy, wewnątrzwydzielniczy do narządów wewnętrznych włącznie
            </li><br/>
            <li>
              sportowy - jest jednym z ważniejszych elementów odnowy biologicznej, która stanowi integralną część treningu sportowego
            </li>
          </ul>
          <p>
            </strong>Masaż sportowy w zależności od czasu stosowania spełnia różne funkcje.</strong> Przed wysiłkiem jest uzupełnieniem rozgrzewki, przygotowując w ten sposób aparat mięśniowo – więzadłowy do wzmożonego wysiłku fizycznego. Po wysiłku jest wykonywany w celu przyspieszenia procesów regeneracyjnych. Masaż usprawnia przepływ krwi w naczyniach krwionośnych, przyspiesza krążenie limfy, a co za tym idzie zwiększa dopływ substancji odżywczych do mięśni, szybciej usuwa zbędne produkty przemiany materii i wspomaga procesy regeneracyjne.
          </p>
		    </div>
		  </div>
			<div class="meta">
				<p><a href="#" class="more">Więcej</a></p>
			</div>
		</div>
	</div>
</div>
