<footer>
  <section>
    <p id="legal">All Rights Reserved. Copyright © 2011. --- REHACTIVE</p>
    <p id="links">
      <%= link_to "Aktualności", news_index_path %>
      <%= link_to "Oferta", offer_page_path %>
      <%= link_to "O mnie", about_page_path %>
      <%= link_to "Kontakt", new_contact_path %>
    </p>
  </section>
</footer>
