<footer>
  <section>
    <p id="legal">All Rights Reserved. Copyright © 2011. --- REHACTIVE</p>
    <p id="links">
      <%= link_to "Nowości", "" %> |
      <%= link_to "Oferta", "" %> |
      <%= link_to "Wizyty", "" %> |
      <%= link_to "Kontakt", "" %>
    </p>
  </section>
</footer>
