<div id="sidebar">
	<div id="sidebar-bgtop">
		<div id="sidebar-bgbtm">
			<ul>
				<li>
					<h2>Gabinet Rehabilitacji</h2>
          <p>ul.Radzymińska 2A lok. U2a</p>
				</li>
				<li>
					<h2>Godziny otwarcia:</h2>
          <p>Dostosowane do potrzeb pacjenta</p>
				</li>
				<li>
					<h2>Fizjoterapeuta</h2>
					<p class="bold">mgr Joanna Bieniek</p>
          <p>tel.  515 479 644</p>
				</li>
				<li>
					<h2>Mapa dojazdu</h2>
          <div id="gmaps">
			      <%= link_to image_tag("mapka.png"), map_page_path %>
			    </div>
				</li>
				<li class="share">
				  <h2>Poleć innym</h2>
          <p>Gabinet rehabilitacji Rehactive w Białymstoku</p>
				  <!-- AddThis Button BEGIN -->
          <div class="addthis_toolbox addthis_default_style addthis_32x32_style" addthis:url="www.rehactive.pl">
            <a class="addthis_button_facebook"></a>
            <a class="addthis_button_twitter"></a>
          </div>
          <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4f9d4582030b1b6b"></script>
          <!-- AddThis Button END -->
				</li>
			</ul>
		</div>
	</div>
</div>
