<!DOCTYPE html>
<html>
  <head>
    <meta name="description" content="Contact us form - Shopikon."/>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @contact.name %> skontaktował się z Tobą</h1>

    <h2>Treść wiadomości:</h2>
    <p><%= @contact.message %></p>

    <h2>E-mail:</h2>
    <p><%= @contact.email %></p>

  </body>
</html>
