/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require gallery
 *= require default
 *= require jquery.galleryview-3.0-dev
 *= require_tree .
*/


.bold {
  font-weight: 700;
}

#sidebar p {
	margin-bottom: 10px;
	line-height: normal;
	color: #757E82;
	font-size: 13px;
}
