/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require default
 *= require gmaps4rails
 *= require jquery.galleryview-3.0-dev
*/


.bold {
  font-weight: 700;
}

#sidebar p {
	margin-bottom: 10px;
	line-height: normal;
	color: #757E82;
	font-size: 13px;
}

#gmaps {
  border-color: #CCCCCC #CCCCCC #999999;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 2px 5px rgba(64, 64, 64, 0.1);
  padding: 6px;
  width: 180px;
  margin-left: -5px;
}

.about {
  font-size: 12px;
}

.about img{
  width: 185px;
  padding: 5px 30px 0 0 !important;
}

 ul.offert-ul, 
.about ul {
  padding-left: 35px;
  margin-bottom: 40px;
}

 ul.offert-ul li,
.about ul li {
  list-style-type:circle !important;
}

.hidden {
  display: none;
}

#logo a img {
  width: 185px;
  padding: 0 40px;
}

.user-submit  {
  width: 99px !important;
  height: 24px;
  border: 1px solid #b3b3b3;
  margin-top: 20px;
  color: black;
  font-family: proxima-nova-n7, proxima-nova, sans-serif;
  font-weight: 700;
  font-size: 12px;
  background-image: image-url('my-fav.png');
  position: relative;
  outline: 0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.user-submit:hover {
  border: 1px solid #b3b3b3;
  color: #43474a;
  outline: 0;
  background-image: image-url('my-fav-hover.png');
}

.user-submit:active {
  border: 1px solid #dfdfdf;
  color: #43474a;
  outline: 0;
  background-image: image-url('my-fav-active.png');
}

a.back-to-top {
  text-decoration: none;
  color: #6d6d6d !important;
  display: block;
  margin: 40px 0 15px 20px;
  height: 17px;
  float: left;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  vertical-align: middle;
  position: relative !important;
}

a.back-to-top img {
  display: block;
  float: left;
  margin-top: -3px;
}

.share {
  margin-top: 18px;
}
